
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body{
    padding: 0;
    margin: 0;
   
}
p{
    font-family: "Roboto","sans-serif";
}

/* HEADER */

.logoOhmyfood img{
    width: 50%;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;      
}

/* SECTION RESERVEZ */

.Reservez{
    font-family: "Roboto","sans-serif";
    height: 280px;
    background-color: #f2f2f2;
    
   
}
.position { 
    width: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    padding: 10px;
    background-color: rgb(228, 227, 227);
    box-shadow:inset 0px 5px 5px 0px rgb(143, 142, 142 , 0.5);
    
    
}
.position span{
    padding-left: 10px;
    font-family: "Roboto","sans-serif";
}


.reservezMenu{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;      
}
.sousTitre{
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
    font-family: 'Roboto','serif' ;
    color: grey;

}
.boutonExplorer{
    display: flex;
    justify-content: center;
        
}

.boutonExplorer button{
    padding: 15px;
    border: none;
     font-weight: bold;
    border-radius: 20px;
    color: #f2f2f2;
    cursor: pointer;
    background: linear-gradient(#9356DC,#FF79DA);
    z-index: 1;
}
.boutonExplorer button:hover{
    opacity: 0.8;
    box-shadow: 3px 3px 3px grey;
}

/* SECTION FONCTIONNEMENT */

.FonctionnementH1{
    font-family: "Shrikhand","sans-serif";
    padding-left: 40px;

}

.fonctionnementChoix{
    position: relative;
        
}
.fonctionnementChoix .fas{
    font-size: 15px;
}
.fonctionnementChoix button{
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    font-family:"Roboto","sans-serif" ;
    font-weight: bold;
    margin-bottom: 20px;
    border: none; 
    box-shadow: 3px 3px 3px #f2f2f2; 
    cursor: pointer;  
}

.fonctionnementChoix li{
    list-style: none;
}

.fonctionnementChoix button {
   text-align: left;
   
}
.fonctionnementChoix button .fas {
    padding-left: 20px;
    padding-right: 20px;
    
 }

.fonctionnementChoix li .choix::before{
    content: "1";
    border: 1px solid #9356DC;
    background-color: #9356DC;
    color: white;
    padding: 5px 9px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 17px; 
      
}

.fonctionnementChoix li .composez::before{
    content: "2";
    border: 1px solid #9356DC;
    background-color: #9356DC;
    color: white;
    padding: 5px 9px;
    border-radius: 20px;
    position: absolute;
    left: 30px;
    top: 90px;
}
.fonctionnementChoix li .degustez::before{
    content: "3";
    border: 1px solid #9356DC;
    background-color: #9356DC;
    color: white;
    padding: 5px 9px;
    border-radius: 20px;
    position: absolute;
    left: 30px;
    top: 167px;
}
.fonctionnementChoix li button:hover{
    background-color: rgba(128, 0, 128, 0.08);
    
}
.fonctionnementChoix  li button:hover .fas{
    color: #9356DC;
}

/* SECTION RESTAURANT */

.Restaurants{
    padding: 20px;
    background-color: #f2f2f2;
    
}
.restaurants{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    row-gap: 20px;
}
.laPaletteDuGout{
    grid-column: 1/2;
    grid-row: 1/2;
}
.laNoteEnchante{
    grid-column: 1/2;
    grid-row: 2/3;
}
.aLaFrancaise{
    grid-column: 1/2;
    grid-row: 3/4;
}
.leDeliceDesSens{
    grid-column: 1/2;
    grid-row: 4/5;
}
.image{
    height: 265px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow:0 0 10px rgb(0, 0, 0,.3);
    position: relative;
    cursor: pointer;
}
.paletteImage{
    height: 185px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;

}
.detail{
    line-height: 10px;
}
.containerDetailEtCoeur{
    color: black;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px; 
    border: none;
    position: relative;
}
.coeur .far{
    font-size: 20px; 
      
}
.coeur .fas{
    font-size: 20px;
    position: absolute;
    top: 25px;
    right: 10px;
    opacity: 0;
    
}

.coeur .fas:hover {
    transition: 1s;
    color: transparent;
    background: linear-gradient(#9356DC,#FF79DA);
    -webkit-background-clip: text;
    opacity: 1;
}
.coeur:hover .far{
    transition: 1s;
    opacity: 0;
}
.image a{
    text-decoration: none;
}
.nouveau{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    padding: 0px 15px;
    border-radius: 5px;
    color: #3d9982;
    background-color: #99E2D0;
    font-size: 15px;
    line-height: 5px;
}

/* FOOTER */

footer{
    padding: 10px;
    background-color: #363535;   
}
.titreFooter{
    font-family:"Shrikhand",serif ;
    color: white;
    font-size: 12px;
}
.proposer .fas{
    padding-right: 10px;
    font-size: 12px;
}
.proposer,.devenir,.mentionsLegales,.contact{
    font-family: "Roboto","sans-serif";
    color: white;
    font-size: 15px;
     
}
.devenir{
    display: flex;
    align-items: center;
    line-height: 0;
}
.devenir .fas{
    font-size: 11px;
    -webkit-transform:rotate(320deg) ;

}
.devenir p{
    padding-left: 7px;
}
.contact a{
    text-decoration: none;
    color: white;
}

         /* MENU */

.logoOhmyfood{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px 0px 10px;  
} 
.logoOhmyfood a{
    color: black;
}


.imageRestaurant img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.CarteEntiere{
    background-color: #f2f2f2; 
    border-radius: 40px 40px 0px 0px; 
    margin-top: -55px;
    font-family: "Roboto";
}
.CarteEntiere .far{
    font-size: 20px;
    
}
.CarteEntiere .fas{
    font-size: 20px;
    position: absolute;
    right: 20px;
    opacity: 0;
}
.CarteEntiere .fas:hover{
    transition: 1s;
    opacity: 1;
    color: transparent;
    background: linear-gradient(#9356DC,#FF79DA);
    -webkit-background-clip: text;
    cursor: pointer;
}
.coeurMenu:hover .far{
    opacity: 0;
    transition: 1s;
}

.entrees{   
    margin: 20px;    
}
.Plat{
    margin: 20px;
}
.Desserts{
    margin: 20px;
}
.entrees,.Plat,.Desserts{
    font-family: "Roboto","sans-serif";
}
.soulignementH4{
    width: 10%;
    border-top: 3px solid #99E2D0; 
   
}
.restaurantH1{
    font-family:"Shrikhand","sans-serif";
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

.boutonCarte{
    padding: 0 ; 
    width: 100%;
    height: 80px;
    border-radius: 20px;
    margin-top: 10px; 
    background-color: white; 
    border: none;
    box-shadow: 0 0 10px rgb(0, 0, 0,.3);
    cursor: pointer; 
    overflow: hidden;    
}
.grandeBox{
    height: 100%;
    display: flex; 
}
.box1{
   font-family: "Roboto"; 
   font-size: 14px;
   text-align: left;
   padding-left: 10px;
   line-height: 15px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;     
}
.box1 h3{
    overflow: hidden;
    text-overflow: ellipsis;
}


.box2{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 20px;
}
.box3 {
    width: 0;
    border-radius: 0px 20px 20px 0px;
    overflow: hidden;
    transition: 1s;
    background-color: #99E2D0;
    color: #99E2D0; 
    display: flex;  
    align-items: center; 
      
}
.box3 .fas{

    background-color: white;
    border-radius: 50%;
    color: #99E2D0;
   
}
.boutonCarte:hover .box3{
    width: 25%;   
     
}
.box3{
    position: relative;
    
}
.box3  .fas {
    position: absolute;
    right: 40%;
    
    
    
}
.boutonCarte:hover .box3 .fas{
    opacity: 1;
    animation: checkTourne 0.5s linear;
}
@keyframes checkTourne {
    0% {transform: rotate(0);}
    100% {transform: rotate(360deg);}
}



.boutonCommander{
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boutonCommander button{
    
    font-size: 15px;
    font-family: "Roboto","sans-serif";
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    color: white;
    box-shadow: 0,0,10px rgb(0, 0, 0,.3);
    background: linear-gradient(#9356DC,#FF79DA);
}
.boutonCommander button:hover{  
    opacity: 0.8;
    cursor: pointer;
}
.footerFrancais .devenir p{
    padding: 0;
    margin: 0;
    
}
.footerFrancais .devenir .fas{
    margin-right: 5px;
}



/* KEYFRAMES ANIMATION */

.CarteEntiere{
  
    animation: Abracadabra 1s linear ;
    animation-fill-mode: forwards;
    z-index: 10;
}
@keyframes Abracadabra{
    
    0% {opacity: 0;}
    100% {opacity: 1 ;}
    
}

.entree {
    animation: boutonCadabra 1s linear;
    transform-origin: left;
    z-index: 100;
}
.plats{
    animation: boutonCadabra 1s linear;
    animation-delay: 0.2s;
    transform-origin: left;
    z-index: 100;
}
.desserts{
    animation: boutonCadabra 1s linear;
    animation-delay: 0.4s;
    transform-origin: left;
    z-index: 100;
}
@keyframes boutonCadabra {
    0%{transform: scaleX(0.1);}
    100%{transform: scaleX(1);}
}
.principale,.Reservez,.Fonctionnement,.Restaurants{
    animation: bodyOpacity 2s linear;
}
@keyframes bodyOpacity {
    from {opacity: 0.2;}
    to {opacity: 0.2;}
}
.loader{
    position:fixed;
    width: 100%;
    height: 100%;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FF79DA;
    animation: tournicoti 2s linear ;
    animation-fill-mode:both;
   
}
@keyframes tournicoti{
    
    0% {opacity: 1; color: #FF79DA; }
    20% {opacity: 0;}
    40% {color: #9356DC; opacity: 1;} 
    60% {opacity: 0;}
    80% {opacity: 1; color: #99E2D0;}
    99% {z-index: 1;}
    100% {opacity: 0;z-index: -1;} 

}

/* MEDIAQUERIES carte principale */

@media  screen and (min-width:900px) {

    .Fonctionnement{
        margin: 20px;
    }
    .fonctionnementChoix ol {
        
        display: flex;
        justify-content: space-around;
        
    }
    .fonctionnementChoix li{     
        width: 100%;
    }
    .fonctionnementChoix li .choix::before,.composez::before,.degustez::before{
        display: none;
    }
    button.choix,.composez,.degustez{
        color: white;
        background: linear-gradient(#9356DC,#FF79DA);
    } 
    .choix:hover,.composez:hover,.degustez:hover{
        opacity: 0.8;
    }
    .restaurants{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 20px;
    }
    .laPaletteDuGout{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .laNoteEnchante{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .aLaFrancaise{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .leDeliceDesSens{
        grid-column: 2/3;
        grid-row: 2/3;
    }
   footer{
       display: grid;
       grid-template-columns: 1fr,1fr;
       grid-template-rows: 1fr,1fr,1fr;
   }
    .titreFooter{
        font-size: 20px;
        grid-column: 1/3;
        grid-row: 1/2;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .proposer{
        grid-column: 1/2;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .devenir{
        grid-column: 1/2;
        grid-row: 3/4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mentionsLegales{
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .contact{
        grid-column: 2/3;
        grid-row: 3/4;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media  screen and (min-width:1000px){
   
    .logoOhmyfood img{
        width: 40%;
       padding: 20px 0px;
    }
    .restaurants{
        row-gap: 40px;
        column-gap: 40px;
        margin: 40px 40px;
    }

    .restaurantH1 h2{
        font-size: 25px; 
        margin-left: 40px;
          
    }
    .entree,.plats,.desserts{
        width: 33%;   
    }
    .soulignementH4{
        padding-bottom: 20px;
    }
    
}
@media  screen and (min-width:1400px){
    .logoOhmyfood img{
        width: 30%;
    }
}